---
---
@import "{{ site.theme }}";

.main-content {
  max-width: 80rem; 
  padding: 2rem 2rem; 
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .main-content {
    padding: 2rem 2rem; 
  }
}

@media screen and (max-width: 42em) {
  .main-content {
    padding: 2rem 1rem; 
  }
}
